<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <script src="{% static 'jquery.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" media="screen" />
    <script src="{% static 'index.js' %}"></script>
    <title>Interface Robot</title>
</head>
<body>
    <h1>Interface commande robot</h1>
    <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
    </label>
    <div id="gridwrap">
        <button onclick="ok(0)" type="button" id="up" class="main-button">&uarr;</button>
        <button onclick="ok(1)" type="button" id="left" class="main-button">&larr;</button>
        <button onclick="ok(2)" type="button" id="right" class="main-button">&rarr;</button>
        <button onclick="ok(3)" type="button" id="down" class="main-button">&darr;</button>
        <div id="output">
            <p>{{ output }}</p>
        </div>
    </div>
</body>
</html>