<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index.css" media="screen" />
    <script src="index.js"></script>
    <title>Interface Robot</title>
</head>
<body>
    <h1>Interface commande robot</h1>
    <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
    </label>
    <div id="gridwrap">
        <button onclick="" type="button" id="up" class="main-button">&uarr;</button>
        <button onclick="" type="button" id="left" class="main-button">&larr;</button>
        <button onclick="" type="button" id="right" class="main-button">&rarr;</button>
        <button onclick="" type="button" id="down" class="main-button">&darr;</button>
    </div>
</body>
</html>